@CHARSET "UTF-8";

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #444;
    line-height: 1.65em;
    letter-spacing: 1px;
    font-weight: 300;
}

input, textarea, select {
    background: rgba(255, 255, 255, 0.05);
    border: none;
    border-radius: 0;
    font-size: 12pt;
    line-height: 1.75em;
    letter-spacing: 1px;
    padding: 10px 16px;
    margin: 6px 0;
    box-shadow: none;
    outline: none;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    min-height: 10em;
}


h1, h2, h3, h4, h5 {
    color: #666;
    line-height: 1.15em;
    font-weight: 300;
    padding-bottom: 0.4em;
}

header > h1,
header > h2,
header > h3,
header > h4,
header > h4 {
    padding-bottom: 0;
}

h1 {
    font-size: 48px;
}

h1.brick-title {
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 18px;
    color: #888;
    font-weight: 600;
}

p {
    margin-bottom: 1em;
}


/* progress bar */

.progress-bar {
    background: #eee;
    color: #999;
    font-weight: 400;
    line-height: 26px;
    font-size: 15px;
    width: 100%;
    height: 26px;
    position: relative;
}

.progress-bar-done {
    background: #86c06a;
    box-shadow: 0 -3px 10px -2px #777;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    display: inline-block;
    height: 100%;
    width: 0;
    max-width: 100%;

    transition: all 0.3s;
}

.progress-bar-text {;
    position: absolute;
    left: 49%;
    letter-spacing: 2px;
    top: 0;
}

/* end progress bar */


/* inputs */
input,
input:focus,
input:hover,
input[type='checkbox'],
input[type='radio'],
input[type='checkbox']:hover,
input[type='radio']:hover,
input[type='checkbox']:focus,
input[type='radio']:focus {
    outline: none;
    box-shadow: none;
}

fieldset {
    outline: none;
    box-shadow: none;
    border: none;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 1em;
}

::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 1em;
}

:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 1em;
}

/* text input */

input {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    color: #444;
    display: inline;
    line-height: 50px;
    margin: 10px 20px;
    padding: 0 20px;
    position: relative;
    width: 300px;

    transition: all 0.3s;
}

/* user and password */

.input-user-wrapper {
    display: inline-block;
    position: relative;
    width: 300px;
    z-index: 5;
}

.input-text-user {
    padding: 0 20px 0 60px;
    margin: 10px 0;
}

.input-text-icon {
    color: #ddd;
    transition: all 0.3s;
    font-size: 26px;
    position: absolute;
    margin-right: 20px;
    vertical-align: middle;
    left: 20px;
    top: calc(50% - 13px);
    z-index: 10;
}

.user-info {
    display: block;
    opacity: 0;
    font-size: 0.9em;
    color: #ff0000;
    top: -60px;
    position: relative;

    /*transition: all 0.5s ease-in-out;*/
}

.user-info-show {
    top: -10px;
    opacity: 1;
}

/* select box */

.select-wrapper {
    margin: 10px 20px;
    display: inline-flex;
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 6px;
    position: relative;
    transition: all 0.3s;
    width: 300px;
    color: #444;
    padding: 0;
}

.select-wrapper:after {
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 26px;
    position: absolute;
    top: calc(50% - 13px);
    right: 20px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    line-height: 50px !important;
    box-shadow: none;
    padding: 0 20px;
    margin: 0;
    width: 100%;
    height: 50px;
}

select option {
    line-height: 50px;
}


/* radio input */
.input-radio {
    display: block;
    visibility: visible;
    position: absolute;
    margin: 0;
    height: 100%;
    z-index: -10;
    opacity: 0;
    width: 100%;
}


label {
    margin: 0 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}


.label-div {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    color: #aaa;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0;
    padding: 0 20px;
    position: relative;
    text-align: left;
    width: 300px;
    line-height: 50px;
    
    transition: all 0.3s;
}

.label-div:hover,
input:hover,
input:focus,
.select-wrapper:hover {
    border: 1px solid #ccc;
    box-shadow: 0 3px 10px #bbb;
}

.label-div img {
    margin-right: 20px;
    vertical-align: middle;
}

.button-icon-right {
    color: #eee;
    transition: all 0.3s;
    font-size: 26px;
    float: right;
    line-height: 50px;
}

.button-icon-left {
    color: #ddd;
    transition: all 0.3s;
    font-size: 26px;
    position: relative;
    margin-right: 20px;
    vertical-align: middle;
}

.input-radio:checked + .label-div {
    color: #444;
}

.input-radio:checked + .label-div .button-icon-right {
    color: #75b947;
}

.input-radio:checked + .label-div .button-icon-left {
    color: #666;
}


/* buttons */
input[type='button'],
input[type='submit'],
button,
.button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    min-width: 150px;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
}

input[type='button']:hover,
input[type='button']:focus,
input[type='submit']:hover,
input[type='submit']:focus,
button:hover,
button:focus,
.button:hover,
.button:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

input:disabled,
select:disabled,
button:disabled,
button:disabled {
    cursor: default;
}

/* specific setup style */

.header {
}

.header-left {
    background: #f5f5f5;
    text-align: center;
}

.header-logo {
    max-width: 100%;
    margin-bottom: 1em;
}

.header-left,
.nav {
    padding-left: 2em;
    padding-right: 2em;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.header-right,
.header-left {
    padding-top: 3em;
}

.header-right {
    padding-left: 3em;
}

.header-list {
    opacity: 0;
    position: relative;
}

.header-list li {
    opacity: 0;
    position: absolute;
    width: 100%;
}

.page {
    background: #f5f5f5;
    max-height: 300px;
    min-height: 300px;
    overflow: visible;
}

.nav {
    padding: 3em  0 0;
    overflow: visible;
    white-space:nowrap;
}

ul {
    list-style: none;
}

ul.nav-list li {
    padding: 1em 2em;
    background: #f5f5f5;
    border-bottom: 1px solid #fff;
    color: #bbb;
    font-weight: 300;
    font-size: 15px;
    transition: all 0.3s, font-weight 0.01s;
}

ul.nav-list li.step-done {
    color: #75b947;
    transition: all 0.3s, font-weight 0.01s;
}

ul.nav-list li.step-active {
    color: #666;
    font-weight: 600;
    transition: all 0.3s, font-weight 0.01s;
}

ul.nav-list li:first-child {
    padding-top: 0;
}

ul.nav-list li:last-child {
    border-bottom: none;
}

.nav .fa {
    margin-right: 0.5em;
}

.page-main {
    padding-top: 3em;
    padding-left: 3em;
    position: relative;
    padding-bottom: 3em;
    /*overflow: hidden;*/
}

ul.steps-list {
    font-size: 0;
    opacity: 0;
    /*left: -3544px;*/
    left: 0px;
    white-space: nowrap;
    position: relative;
    vertical-align: top;
}

li.step {
    font-size: 16px;
    position: relative;
    white-space: normal;
    display: inline-block;
    float: none;
    width: 100%;
    vertical-align: middle;
    opacity: 1; /* todo: opacity 0 */
    text-align: center;
}

li.step-left-align {
    text-align: left;
}

.button {

}

.nav-buttons {
    padding: 3em 0 3em 3em;
}


.back-button {
    color: #888;
    background: #e8e8e8;
}

.back-button:disabled,
.back-button:disabled:hover,
.back-button:disabled:focus {
    color: #bbb;
    background: #f5f5f5;
}

.back-button:disabled {
    opacity: 0.9;
}

.back-button:hover {
    color: #888;
    background: #dadada;
}

.next-button,
.next-button:disabled:hover,
.next-button:disabled:active {
    background: #75b947;
    color: #fff;
    float: right;
}

.next-button:hover {
    background: #539725;
}

@media screen and (max-width: 767px) {

    h1 {
        font-size: 38px;
    }

    .page {
        max-height: none;
    }

    .progress-bar {
        position: fixed;
        z-index: 50;
        box-shadow: 0 0 4px 0 #999;
    }

    .header-left{
        background: none;
    }

    .header-right,
    .page-main,
    .nav-buttons {
        padding: 1em;
    }

    .header-logo {
        display: block;
        margin: 20px auto;
        width: 60px;
    }

    .nav {
        padding: 0;
    }
    
    .nav-list {
        text-align: center;
        background: #f5f5f5;
        position: relative;
        width: calc(100% + 20px);
        left: -10px;
        font-size: 26px;
    }
    
    .nav-list span {
        display: none;
    }

    ul.nav-list li {
        border-bottom: none;
        display: inline-block;
        padding: 16px 6px;
        position: relative;
    }
    
    .page {
        min-height: auto;
    }

    .header-logo-container {
        height: auto !important;
    }

    .nav .fa {
        margin: 0;
    }

    .header-list h1 {
        text-align: center;
    }

    label {
        display: block;
        margin: 16px 0;
    }
    /*label:first-child,
    label:last-child {
        margin-left: 0;
        margin-right: 0;
    }*/

    .label-div {
        margin: 0 auto;
        width: 90%;
    }

    .input-text {
        width: 90%;
    }

    .select-wrapper {
        width: 90%;
    }

    .input-user-wrapper {
        width: 90%;
    }

    .input-text-user {
    width: 100%;
    }

    li.step-left-align {
        text-align: center;
    }
}

@media (max-width: 520px) {
    .nav-list {
        font-size: 18px;
    }
}
