@CHARSET "UTF-8";

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #444;
    line-height: 1.65em;
    letter-spacing: 1px;
    font-weight: 300;
}

input, textarea, select {
    background: rgba(255, 255, 255, 0.05);
    border: none;
    border-radius: 0;
    font-size: 12pt;
    line-height: 1.75em;
    letter-spacing: 1px;
    padding: 10px 16px;
    margin: 0;
    box-shadow: none;
    outline: none;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    min-height: 10em;
}

input[type='button'],
input[type='submit'],
button,
.button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    min-width: 150px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}

input[type='button']:hover,
input[type='button']:focus,
input[type='submit']:hover,
input[type='submit']:focus,
button:hover,
button:focus,
.button:hover,
.button:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

h1, h2, h3, h4, h5 {
    color: #666;
    line-height: 1.15em;
    font-weight: 300;
    padding-bottom: 0.4em;
}

header > h1,
header > h2,
header > h3,
header > h4,
header > h4 {
    padding-bottom: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 18px;
    color: #888;
    font-weight: 600;
}

p {
    margin-bottom: 1em;
}


/**************************/
/****** progress bar ******/
/**************************/
.progress-bar {
    background: #eee;
    color: #999;
    font-weight: 400;
    line-height: 26px;
    font-size: 15px;
    width: 100%;
    height: 26px;
    position: relative;
}

.progress-bar-done {
    background: #86c06a;
    box-shadow: 0 -3px 10px -2px #777;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    display: inline-block;
    height: 100%;
    width: 0;
    max-width: 100%;
    transition: all 0.3s;
}

.progress-bar-text {;
    position: absolute;
    left: 49%;
    letter-spacing: 2px;
    top: 0;
}


/**************************/
/******** inputs **********/
/**************************/
input,
input:focus,
input:hover,
input[type='checkbox'],
input[type='radio'],
input[type='checkbox']:hover,
input[type='radio']:hover,
input[type='checkbox']:focus,
input[type='radio']:focus {
    outline: none;
    box-shadow: none;
}

fieldset {
    outline: none;
    box-shadow: none;
    border: none;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 1em;
}

::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 1em;
}

:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 1em;
}

/* text input */
input.input-text {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    color: #444;
    display: inline;
    line-height: 50px;
    padding: 0 20px;
    position: relative;
    width: 100%;

    transition: all 0.3s;
}

/* user and password */
input.input-text-user,
input.input-text-password {
    padding: 0 20px 0 60px;
    /*margin: 10px 0;*/
}

.input-text-icon {
    color: #ddd;
    transition: all 0.3s;
    font-size: 26px;
    position: absolute;
    margin-right: 20px;
    vertical-align: middle;
    left: 20px;
    top: calc(50% - 13px);
    z-index: 10;
}

/* select box */
.select-wrapper {
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 6px;
    transition: all 0.3s;
    color: #444;
    padding: 0;
    margin: 14px 15px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    float: left;
    width: calc(50% - 30px);
}

.select-wrapper:after {
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 26px;
    position: absolute;
    top: calc(50% - 13px);
    right: 20px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    line-height: 50px !important;
    box-shadow: none;
    padding: 0 20px;
    margin: 0;
    width: 100%;
    height: 50px;
}

select option {
    line-height: 50px;
}

/* radio input */
.input-radio {
    display: block;
    visibility: visible;
    position: absolute;
    margin: 0;
    height: 100%;
    z-index: -10;
    opacity: 0;
    width: 100%;
}

.input-wrapper {
    margin: 14px 15px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    float: left;
    width: calc(50% - 30px);
}

.input-wrapper-33 {
    width: calc(33.333% - 30px);
}

.label-div {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    color: #aaa;
    cursor: pointer;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    text-align: left;
    width: 100%;
    line-height: 50px;

    transition: all 0.3s;
}

.input-wrapper:hover input,
input:focus,
.input-wrapper:hover .label-div,
.select-wrapper:hover {
    border: 1px solid #ccc;
    box-shadow: 0 3px 10px #bbb;
}

.label-div img {
    margin-right: 20px;
    vertical-align: middle;
}

.button-icon-right {
    color: #eee;
    transition: all 0.3s;
    font-size: 26px;
    float: right;
    line-height: 50px;
}

.button-icon-left {
    color: #ddd;
    transition: all 0.3s;
    font-size: 26px;
    position: relative;
    margin-right: 20px;
    vertical-align: middle;
}

.input-radio:checked + .label-div {
    color: #444;
}

.input-radio:checked + .label-div .button-icon-right {
    color: #75b947;
}

.input-radio:checked + .label-div .button-icon-left {
    color: #666;
}

/* animated label for text input */
.animated-label {
    position: absolute;
    z-index: 1;
    font-size: 0.9em;
    top: -13px;
    opacity: 0;
    transition: 0.2s all ease-in-out;
    color: #75b947;
    font-weight: 600;
    visibility: hidden;
}

.show-label .animated-label {
    top: -24px;
    opacity: 1;
    visibility: visible;
    white-space: nowrap;
}


/**************************/
/*** step user password ***/
/**************************/
.user-password-step-float-right {
    float: right;
}

.show-password {
    position: absolute;
    top: calc(50% - 12px);
    right: 0;
    padding: 0 20px;
    font-size: 24px;
    color: #75b947;
}

.fa-eye-slash {
    color: #ddd;
}


/**************************/
/***** Host und Pfade *****/
/**************************/
/*.step-6 .input-wrapper {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: calc(60% - 40px)
}*/

.host-and-url-info {
    position: absolute;
    top: calc(50% - 12px);
    right: 0;
    margin: 0 20px;
    font-size: 24px;
    color: #eee;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.host-and-url-info:hover {
    color: #86ca58;
}

/* popup fenster */
.qui-window-popup-title .qui-window-popup-title-close:before {
    position: absolute;
    top: 0;
    width: 50px;
    left: 0;
}

.qui-window-popup-title .qui-window-popup-title-close {
    color: #aaa;
    min-width: 50px;
    width: 50px;
}

.qui-window-popup-title-text {
    font-weight: 600;
}

/* auto fill button */
.input-wrapper-button {
    margin: 14px 20px;
    display: block;
    vertical-align: middle;
    position: relative;
    float: left;
    width: 100%;
}

.input-wrapper-button .auto-fill {
    color: #666;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    display: inline;
    background-color: #fff;
    transition: 0.3s all ease-in-out;
}

.auto-fill-icon {
    margin-right: 20px;
    color: #aaa;
    transition: 0.3s all ease-in-out;
}

.input-wrapper-button .auto-fill:hover,
.input-wrapper-button .auto-fill:focus {
    /*color: #75b947;*/
    box-shadow: 0 3px 10px #bbb;
    /*border-color: #75b947;*/
}

.auto-fill:hover .auto-fill-icon,
.auto-fill:focus .auto-fill-icon {
    color: #333;
}


/**************************/
/******** license *********/
/**************************/
.license-box-wrapper {
    /*padding: 5px;*/
    /*background: #eee;*/
    /*box-shadow: inset 0 0 10px #ccc;*/
}
.license-box {
    width: 100%;
    height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.9em;
}

.license-box h1,
.license-box h2,
.license-box h3,
.license-box h4,
.license-box h5 {
    color: #666;
    line-height: 1.15em;
    font-weight: 400;
    padding-bottom: 0.4em;
}

.license-box h1 {
    font-size: 200%;
}


.license-box h2 {
    font-size: 150%;
}

.license-box h3 {
    font-size: 120%;
}

.license-box h4 {
    font-size: 110%;
}

.license-line {
    margin-bottom: 10px;
}

.license-checkbox-wrapper {
    display: flex;
    justify-content: center;
}

input[type=checkbox].license-checkbox {
    display:none; /* to hide the checkbox itself */
}

input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
    color: #aaa;
    transition: all 0.3s ease-in-out;
}

input[type=checkbox] + label:hover:before,
input[type=checkbox] + label:focus:before {
    color: inherit;
}

input[type=checkbox].license-checkbox + label {
    width: auto;
    background-color: #fff;
    margin: 20px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    transition: 0.3s all ease-in-out;
}

input[type=checkbox].license-checkbox + label:hover {
    box-shadow: 0 3px 10px #bbb;
}

/* unchecked icon */
input[type=checkbox].license-checkbox + label:before {
    content: "\f096";
    width: 50px;
    font-size: 26px;
    vertical-align: middle;
}

/* checked icon */
input[type=checkbox].license-checkbox:checked + label:before {
    content: "\f046";
    color: #75b947;
}
input[type=checkbox].license-checkbox:checked + label {
    border-color: #75b947;
}
/* if checkbox not checked */
.error input[type=checkbox].license-checkbox + label {
    border-color: #cc0000;
}


/**************************/
/** specific setup style **/
/**************************/
.header-left {
    background: #f5f5f5;
    text-align: center;
}

.header-logo {
    max-width: 100%;
    margin-bottom: 1em;
}

.header-left,
.nav {
    padding-left: 2em;
    padding-right: 2em;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.header-right,
.header-left {
    padding-top: 3em;
}

.header-right {
    padding-left: 3em;
}

.header-list {
    opacity: 0;
    position: relative;
}

.header-list li {
    opacity: 0;
    position: absolute;
    width: 100%;
}

.page {
    background: #f5f5f5;
    max-height: 320px;
    min-height: 320px;
    overflow: visible;
}

.nav {
    padding: 0;
    overflow: visible;
    line-height: 26px;
    /*white-space: nowrap;*/
}

ul {
    list-style: none;
}

ul.nav-list li {
    padding: 1em 2em;
    background: #f5f5f5;
    border-bottom: 1px solid #fff;
    color: #bbb;
    font-weight: 300;
    font-size: 15px;
    transition: all 0.3s, font-weight 0.01s;
    display: flex;
}

ul.nav-list li.step-done {
    color: #75b947;
    transition: all 0.3s, font-weight 0.01s;
}

ul.nav-list li.step-active {
    color: #666;
    font-weight: 600;
    transition: all 0.3s, font-weight 0.01s;
}

ul.nav-list li:last-child {
    border-bottom: none;
}

.nav .fa {
    margin-right: 0.5em;
    line-height: inherit;
}

.page-main {
    /*padding-top: 3em;*/
    padding-left: 3em;
    position: relative;
    /*padding-bottom: 3em;*/
    /*overflow: hidden;*/
}

.steps-list-container {
    overflow: hidden;
    padding-top: 2em;
    padding-bottom: 2em;
    /*background-color: #ee9900;*/
}

ul.steps-list {
    font-size: 0;
    opacity: 0;
    left: 0;
    white-space: nowrap;
    position: relative;
    vertical-align: top;
    display: flex;
    align-items: center;
}

li.step {
    font-size: 16px;
    position: relative;
    white-space: normal;
    float: none;
    width: 100%;
    vertical-align: middle;
    opacity: 1; /* todo: opacity 0 */
    /*text-align: center;*/
    flex-shrink: 0;
}

/*li.step:nth-child(2n) {
    background-color: #ddd;
}

li.step:nth-child(2n -1) {
    background-color: #aaa;
}*/

li.step-left-align {
    text-align: left;
}


/**************************/
/****** nav buttons *******/
/**************************/
.nav-buttons {
    padding: 1em 0 1em 3em;
}

.back-button {
    color: #888;
    background: #e8e8e8;
}

.back-button:disabled,
.back-button:disabled:hover,
.back-button:disabled:focus {
    color: #bbb;
    background: #f5f5f5;
    cursor: not-allowed;
}

.back-button:disabled {
    opacity: 0.9;
}

.back-button:hover {
    color: #888;
    background: #dadada;
}

.next-button,
.next-button:disabled:hover,
.next-button:disabled:active {
    background: #75b947;
    color: #fff;
    float: right;
}

.next-button:hover {
    background: #539725;
}


/**************************/
/****** media query *******/
/**************************/
@media screen and (max-width: 767px) {

    h1 {
        font-size: 38px;
    }

    .page {
        max-height: none;
    }

    .progress-bar {
        position: fixed;
        z-index: 50;
        box-shadow: 0 0 4px 0 #999;
    }

    .header-left {
        background: none;
    }

    .header-right,
    .page-main,
    .nav-buttons {
        padding: 1em;
    }

    .header-logo {
        display: block;
        margin: 20px auto;
        width: 60px;
    }

    .nav {
        padding: 0;
    }

    .nav-list {
        text-align: center;
        background: #f5f5f5;
        position: relative;
        width: calc(100% + 20px);
        left: -10px;
        font-size: 26px;
    }

    .nav-list span {
        display: none;
    }

    ul.nav-list li {
        border-bottom: none;
        display: inline-block;
        padding: 16px 6px;
        position: relative;
    }


    .header-logo-container {
        height: auto !important;
    }

    .nav .fa {
        margin: 0;
    }

    .header-list h1 {
        text-align: center;
    }

    .input-wrapper,
    .select-wrapper {
        display: block;
        margin: 30px auto;
        float: none;
        width: 90%;
    }

    .step-6 .input-wrapper {
        width: 90%;
    }

    .label-div {
        margin: 0 auto;
        width: 90%;
    }

    .user-password-step-float-right {
        float: none;
    }

    .input-text-user,
    .input-text-password {
        width: 100%;
    }

    li.step-left-align {
        text-align: center;
    }

    .license-box {
        height: 300px;
    }
}

@media (max-width: 520px) {
    .nav-list {
        font-size: 18px;
    }
}
